In [77]:
import pandas as pd
import numpy as np
import sys
import os

In [74]:
assignment_file = "./37_28_well_coord_assignment.csv"
legend_file = "./37_28_barcodes_legend_empty.csv"

legend = pd.read_csv(legend_file)
assign = pd.read_csv(assignment_file)

In [75]:
assignment_file.split("/")[-1]

'37_28_well_coord_assignment.csv'

In [88]:
output_file = legend_file.rstrip(".csv") + "_filled.csv"

In [89]:
output_file

'./37_28_barcodes_legend_empty_filled.csv'

In [85]:
os.path.dirname(legend_file)

'.'

In [18]:
legend

,Row,Column,WellPosition,Name,Barcode,X,Y,Z,string_matching_algorithm,X_maxdist,Y_maxdist,Z_maxdist
0,A,1,A1,Round1_01,AACGTGAT,NaN,NaN,NaN,levenshtein,1.0,1.0,3.0
1,B,1,B1,Round1_02,AAACATCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C,1,C1,Round1_03,ATGCCTAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D,1,D1,Round1_04,AGTGGTCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E,1,E1,Round1_05,ACCACTGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,D,12,D12,Round1_92,GAACAGGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,E,12,E12,Round1_93,GACAGTGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,F,12,F12,Round1_94,GAGTTAGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,G,12,G12,Round1_95,GATGAATC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,H,12,H12,Round1_96,GCCAAGAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
assign.head()

   X_Coord X_WellPosition  Y_Coord Y_WellPosition  Z_Coord Z_WellPosition
0       49            NaN        0            NaN      0.0             A1
1       48             B1        1             B1      0.0             C4
2       47             C1        2             C1      0.0             D6
3       46             D1        3             D1      0.0             F6
4       45             A2        4             A2      NaN            NaN

In [50]:
coord_names = [n for n in ['X', 'Y', 'Z'] if n in legend.columns]

In [94]:
def create_pos_to_coord_dict(assignment_dataframe, coord_name):
    d = {pos: coord for (pos, coord) in zip(assignment_dataframe[coord_name + "_WellPosition"], assignment_dataframe[coord_name + "_Coord"]) if not pd.isnull(pos)}
    return d

def fill_legend(legend, assignment, name):
    
    pos_to_coord = create_pos_to_coord_dict(assignment, name)
    
    new_column = []
    
    for pos in legend["WellPosition"]:
        if pos in pos_to_coord:
            entry = pos_to_coord[pos]
            new_column.append(entry)
        else:
            new_column.append(pd.NA)
    
    legend[name] = new_column

In [92]:
for name in coord_names:
    fill_legend(legend, assign, name)

In [93]:
legend

,Row,Column,WellPosition,Name,Barcode,X,Y,Z,string_matching_algorithm,X_maxdist,Y_maxdist,Z_maxdist
0,A,1,A1,Round1_01,AACGTGAT,<NA>,<NA>,0.0,levenshtein,1.0,1.0,3.0
1,B,1,B1,Round1_02,AAACATCG,48,1,<NA>,NaN,NaN,NaN,NaN
2,C,1,C1,Round1_03,ATGCCTAA,47,2,<NA>,NaN,NaN,NaN,NaN
3,D,1,D1,Round1_04,AGTGGTCA,46,3,<NA>,NaN,NaN,NaN,NaN
4,E,1,E1,Round1_05,ACCACTGT,3,46,<NA>,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91,D,12,D12,Round1_92,GAACAGGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
92,E,12,E12,Round1_93,GACAGTGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
93,F,12,F12,Round1_94,GAGTTAGC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
94,G,12,G12,Round1_95,GATGAATC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN
95,H,12,H12,Round1_96,GCCAAGAC,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN

In [ ]:
legend.to_csv("")